SolutionsIndexItem = React.createClass({
  handleBestPracticesVote: function (e) {
    e.preventDefault();
    ApiUtil.submitVote(
      "Best Practices",
      this.props.dataObject.solution.id,
      this.props.dataObject.solution.question_id
    );
  },

  handleCleverVote: function (e) {
    e.preventDefault();
    ApiUtil.submitVote(
      "Clever",
      this.props.dataObject.solution.id,
      this.props.dataObject.solution.question_id
    );
  },

  render: function () {
    var options = {
      lineNumbers: true,
      mode: "ruby",
      theme: "twilight",
      readOnly: true
    };

    var bpButtonValue = "Best Practices: " + this.props.dataObject.best_practices_count;
    var cButtonValue = "Clever: " + this.props.dataObject.clever_count;

    return (
      <div className="solutions-index-item">
        <div className="solutions-index-item-header">
          <div className="solutions-index-item-author">
            Author: {this.props.dataObject.username}
          </div>
          <div className="best-practices-vote">
            <div className="arrow"></div>
            <input className="best-practices-vote"
                   type="submit"
                   onClick={this.handleBestPracticesVote}
                   value={bpButtonValue}/>
          </div>
          <div className="clever-vote">
            <div className="arrow"></div>
            <input className="clever-vote"
                   type="submit"
                   onClick={this.handleCleverVote}
                   value={cButtonValue}/>
          </div>
        </div>
        <ReactCodeMirror
          value={this.props.dataObject.solution.body}
          options={options}/>
      </div>
    );
  }
});
