<form class="new-user" action="<%= users_url %>" method="post">
  <%= auth_token_input %>

  <label class="username-label">
    Username
    <input class="username-input" type="text" name="user[username]" value="">
  </label>

  <label class="password-label">
    Password
    <input class="password-input" type="password" name="user[password]" value="">
  </label>

  <input class="sign-up-submit" type="submit" value="Sign Up">
</form>
<div class="sign-in-link"><%= link_to "Sign In", new_session_url %></div>
