/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require codemirror
 *= require lesser-dark
 *= require twilight
 */
html, body, header, nav, h1, a, ul, li, strong, main, button, i,
section, img, div, h2, p, form, fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: normal;
  background-color: #303133;
  color: #efefef;
}

div.landing {
  background-color: rgba(0,0,0,0.2);
  width: 320px;
  min-height: 465px;
  margin: 70px auto 70px;
  padding: 60px 25px 25px;
}

div.logo {
  margin: 0 auto 0;
}

div.error {
  margin: 20px auto;
  display: block;
  width: 100%;
  text-align: center;
}

h1 h2 {
  text-rendering: optimizeLegibility;
}

.header {
  position: relative;
  z-index: 1;
}

.header a {
  display: block;
  padding: 20px 20px;
}

.header-nav {
  margin: 0 auto;
}

.header-logo {
  background-color: rgba(40,40,40,1);
  color: #fff;
  float: left;
  margin-left: 20px;
  transition: color 0.2s ease-in-out;
}

.header-logo:hover {
  color: #A63838;
}

.header-list {
  margin-right: 20px;
  float: right;
}

.header-list > li {
  float: left;
  position: relative;
  min-width: 100px;
  text-align: center;
}

.header-list > li:hover {
  background: rgba(40,40,40,1);
}

.profile-drop-down {
  display: none;
  position: absolute;
  font-size: 14px;
  white-space: nowrap;
  background: rgba(40,40,40,1);
  overflow: hidden;
  border-color: #323232;
}

li:hover .profile-drop-down {
  display: block;
}

.profile-drop-down > li {
  min-width: 100px;
  color: #fff;
  transition: color 0.2s ease-in-out;
}

.profile-drop-down > li:hover {
  color: #A63838;
}

.content {
  background-color: #303133;
  position: relative;
  margin: 0 auto;
}

/*.content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 240px;
  width: 1px;
  background: #ccc;
}*/

/*.content-sidebar {
  float: left;
  width: 200px;
  min-height: 200px;
  padding: 20px;
}*/

.content-main {
  display: block;
  padding: 15px 0px;
  position: relative;
  height: 100%;
  min-height: 100%;
  margin-bottom: 15px;
}

.footer {
  margin: 0 auto;
  clear: both;
  position: relative;
  display: block;
  bottom: 0;
  font-size: 14px;
}

.footer-links {
  padding: 10px;
  float: right;
}

.footer-links > li {
  float: left;
  padding: 0 0 0 10px;
}

.footer a:hover {
  color: #efefef;
  transition: color 0.12s ease-in-out;
}

.footer a:hover {
  color: #79a0dd;
}
