// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.question-index {
  width: 97%;
  font-size: 20px;
  margin: 15px;
  min-height: 1px;
  position: relative;
  float: left;
}

div.question-index-header {
  width: 750px;
  padding: 15px;
  margin-left: 20px;
  display: inline-block;
  background-color: #141414;
}

div.left-container {
  float: left;
  width: 250px;
}

div.page-guide {
  display: inline;
  background-color: #282828;
  padding: 15px;
  margin-bottom: 20px;
  width: 220px;
  float: left;
  font-size: 20px;
  color: #A63838;
}

div.question-index-label {
  font-size: 24px;
  padding: 15px;
  display: inline;
}

div.question-index-list {
  width: 780px;
  display: table-caption;
  margin-left: 20px;
}

div.question-index-item {
  color: #efefef;
  background-color: rgba(40,40,40,1);
  padding: 15px;
  margin-top: 15px;
  font-size: 18px;
}

div.question-index-item-title {
  font-size: 20px;
  transition: color 0.2s ease-in-out;
}

div.question-index-item-title:hover {
  color: #79a0dd;
  cursor: pointer;
}

div.question-index-item-author {
  display: inline;
  font-style: italic;
}

ul.question-index-item-tag-list {
  display: inline;
  li {
    float: right;
    padding: 4px 7px;
    display: block;
    background-color: #616161;
    color: #B3B3B3;
    margin-left: 15px;
    margin-top: -24px;
  }
}

div.question-show-information {
  margin-left: 20px;
  width: 28%;
  height: 340px;
  display: block;
  float: left;
  overflow-y: auto;
  background-color: rgba(38,39,41,1);
}

div.question-show-code {
  margin-right: 20px;
  width: 67%;
  height: 100%;
  display: block;
  float: right;
}

div.question-show-title {
  padding: 15px;
  font-size: 20px;
}

div.question-show-author {
  padding: 15px;
  font-style: italic;
  font-size: 18px;
}

div.question-show-body {
  padding: 15px;
  font-size: 18px;
}

input.skip-button {
  padding: 9px 10px 12px;
  margin: 15px 15px 15px 0px;;
  background-color: rgba(38,39,41,1);
  border-radius: 4px;
  display: inline;
  color: #79a0dd;
  height: 15px;
  width: 45px;
  text-align: center;
  transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
}

input.skip-button:hover {
  cursor: pointer;
  background-color: #0b0c0c;
  color: #a2bde7;
}

input.give-up-button {
  padding: 9px 10px 12px;
  margin: 15px 15px 15px 0px;;
  background-color: rgba(38,39,41,1);
  border-radius: 4px;
  display: inline;
  color: #79a0dd;
  height: 15px;
  width: 65px;
  text-align: center;
  transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
}

input.give-up-button:hover {
  cursor: pointer;
  background-color: #141414;
  color: #a2bde7;
}

input.back-button {
  padding: 9px 10px 12px;
  margin: 15px 15px 15px 0px;;
  background-color: rgba(38,39,41,1);
  border-radius: 4px;
  display: inline;
  color: #79a0dd;
  height: 15px;
  width: 45px;
  text-align: center;
  transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
}

input.back-button:hover {
  cursor: pointer;
  background-color: #141414;
  color: #a2bde7;
}
