// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.question-index {
  float: right;
  border: 2px solid white;
}

// color: #79a0dd;
