// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label.username-label {
  // margin: 10px 20px;
  padding: 20px;
}

input.username-input {
  width: 170px;
  padding: 15px;
  margin: 10px;
  background-color: #202123;
  border-radius: 4px;
  border: 1px solid #202123;
  transition: border 0.12s ease-in-out, background-color 0.12s ease-in-out;
}

input.username-input:hover {
  background-color: #0b0c0c;
}

input.username-input:focus {
  border: 1px solid #efefef;
  background-color: #0b0c0c;
}

label.password-label {
  // margin: 10px 20px;
  padding: 20px;
}

input.password-input {
  width: 170px;
  padding: 15px;
  margin: 10px;
  background-color: #202123;
  border-radius: 4px;
  border: 1px solid #202123;
  transition: border 0.12s ease-in-out, background-color 0.12s ease-in-out;
}

input.password-input:hover {
  background-color: #0b0c0c;
}

input.password-input:focus {
  border: 1px solid #efefef;
  background-color: #0b0c0c;
}

input.sign-in-submit {
  padding: 15px;
  margin: 20px auto;
  background-color: #202123;
  border-radius: 4px;
  display: block;
  color: #a32e2e;
  width: 20%;
  text-align: center;
  transition: background-color 0.12s ease-in-out;
}

input.sign-in-submit:hover {
  cursor: pointer;
  background-color: #0b0c0c;
}

div.demo-login {
  padding: 15px;
  margin: 20px auto;
  background-color: #202123;
  border-radius: 4px;
  display: block;
  color: #a32e2e;
  width: 20%;
  text-align: center;
  transition: background-color 0.12s ease-in-out;
}

div.demo-login:hover {
  cursor: pointer;
  background-color: #0b0c0c;
}

div.sign-up-link {
  padding: 15px;
  margin: 20px auto 10px;
  display: block;
  width: 100%;
  text-align: center;
  transition: color 0.12s ease-in-out;
}

div.sign-up-link:hover {
  cursor: pointer;
  color: #79a0dd;
}
