// Place all the styles related to the Solutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label.solution-form-solution {
  padding: 10px;
  background-color: rgba(38,39,41,1);
  display: block;
}

label.solution-form-tests {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(38,39,41,1);
  display: block;
}

input.run-tests-button {
  float: right;
  padding: 9px 10px 12px;
  margin: 15px 15px 15px 0px;;
  background-color: #79a0dd;
  border-radius: 4px;
  display: inline;
  color: #131414;
  height: 15px;
  width: 75px;
  text-align: center;
  transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
}

input.run-tests-button:hover {
  cursor: pointer;
  background-color: #8daee2;
}

input.submit-button {
  float: right;
  padding: 9px 10px 12px;
  margin: 15px 15px 15px 0px;;
  background-color: #79a0dd;
  border-radius: 4px;
  display: inline;
  color: #131414;
  height: 15px;
  width: 65px;
  text-align: center;
  transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
}

input.submit-button:hover {
  cursor: pointer;
  background-color: #8daee2;
}

ul.solution-form-results {
  position: absolute;
  margin-left: -30%;
  margin-top: -340px;
  float: left;
  height: 389px;
  width: 28%;
  overflow-y: auto;
}

li.success-true {
  display: block;
  background-color: rgba(38,39,41,1);
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #5f8120;
}

li.success-false {
  display: block;
  background-color: rgba(38,39,41,1);
  padding: 10px;
  margin-bottom: 15px;
}

li.running {
  display: block;
  background-color: rgba(38,39,41,1);
  padding: 10px;
  margin-bottom: 15px;
}

li.error {
  display: block;
  background-color: rgba(38,39,41,1);
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid red;
}
