// Place all the styles related to the Solutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label.solution-form-solution {
  padding: 10px;
  background-color: rgba(38,39,41,1);
  display: block;
}

label.solution-form-tests {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(38,39,41,1);
  display: block;
}

input.run-tests-button {
  float: right;
  padding: 9px 10px 12px;
  margin: 15px 0px 15px 0px;
  background-color: #79a0dd;
  border-radius: 4px;
  display: inline;
  color: #131414;
  height: 15px;
  width: 75px;
  text-align: center;
  transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
}

input.run-tests-button:hover {
  cursor: pointer;
  background-color: #8daee2;
}

input.submit-button {
  float: right;
  padding: 9px 10px 12px;
  margin: 15px 15px 15px 0px;
  background-color: #79a0dd;
  border-radius: 4px;
  display: inline;
  color: #131414;
  height: 15px;
  width: 65px;
  text-align: center;
  transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
}

input.submit-button:hover {
  cursor: pointer;
  background-color: #8daee2;
}

input.reset-button {
  float: right;
  padding: 9px 10px 12px;
  margin: 15px 15px 15px 0px;
  background-color: #79a0dd;
  border-radius: 4px;
  display: inline;
  color: #131414;
  height: 15px;
  width: 65px;
  text-align: center;
  transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
}

input.reset-button:hover {
  cursor: pointer;
  background-color: #8daee2;
}

ul.solution-form-results {
  position: absolute;
  margin-left: -30%;
  margin-top: -340px;
  float: left;
  height: 389px;
  width: 28%;
  overflow-y: auto;
}

li.success-true {
  display: block;
  background-color: rgba(38,39,41,1);
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #5f8120;
}

li.success-false {
  display: block;
  background-color: rgba(38,39,41,1);
  padding: 10px;
  margin-bottom: 15px;
}

li.running {
  display: block;
  background-color: rgba(38,39,41,1);
  padding: 10px;
  margin-bottom: 15px;
}

li.error {
  display: block;
  background-color: rgba(38,39,41,1);
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid red;
}

div.solutions-index {
  width: 97%;
  font-size: 20px;
  margin: 15px;
  min-height: 1px;
  position: relative;
  float: left;
}

div.solutions-index-header {
  width: 97%;
  padding: 15px;
  display: block;
  background-color: #141414;
}

div.solutions-index-title {
  padding: 15px;
  display: inline;
}

div.solutions-index-label {
  padding: 15px;
  display: inline;
}

input.question-index-button {
  font-size: 18px;
  text-align: center;
  border-radius: 4px;
  padding: 7px 12px;
  margin: -7px 0px 0px 14px;
  display: inline;
  float: right;
  background-color: #79a0dd;
  color: #131414;
  transition: background-color 0.2s ease-in-out, color 0.12s ease-in-out;
}

input.question-index-button:hover {
  background-color: #8daee2;
}

input.redo-button {
  padding: 7px 12px;
  margin-top: -7px;
  font-size: 18px;
  border-radius: 4px;
  text-align: center;
  display: inline;
  float: right;
  background-color: #79a0dd;
  color: #131414;
  transition: background-color 0.2s ease-in-out, color 0.12s ease-in-out;
}

input.redo-button:hover {
  background-color: #8daee2;
}

div.solutions-index-list {
  margin-top: 20px;
}

div.solutions-index-item {
  margin-bottom: 20px;
}

div.solutions-index-item-header {
  display: block;
  padding: 15px;
  background-color: #262729;
}

div.solutions-index-item-author {
  padding: 10px;
  display: inline;
}

input.best-practices-vote {
  padding: 2px 5px;
  border-radius: 4px;
  text-align: center;
  background-color: #616161;
  color: #B3B3B3;
  float: right;
  display: inline;
  transition: background-color 0.2s ease-in-out, color 0.12s ease-in-out;
}

input.best-practices-vote:hover {
  background-color: #848484;
  color: #D8D8D8;
}

input.clever-vote {
  margin-right: 10px;
  padding: 2px 5px;
  border-radius: 4px;
  text-align: center;
  background-color: #616161;
  color: #B3B3B3;
  float: right;
  display: inline;
  transition: background-color 0.2s ease-in-out, color 0.12s ease-in-out;
}

input.clever-vote:hover {
  background-color: #848484;
  color: #D8D8D8;
}
