<h1>Sandbox</h1>
<div class="sandbox">
  <% userMethod = '
    def self.double(num)
      num - 2
    end
  '%>

  <%= runInSandbox(userMethod + 'self.double(2) == 4') %><br>
  <%= runInSandbox(userMethod + 'self.double(1) == 2') %><br>
  <%= runInSandbox(userMethod + 'self.double(5) == 10') %><br>
</div>
